.carousel-inner img{
    width: 100%;
    height: 100%;
}
p
{
    display: block;
    font-family:   sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #888888;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}
.carousel-inner img {
    width: 900px;
    height: 400px;
    display: block;
    margin: auto;
  }
  .nav-inner
  {
      border:1px dashed #747373;
      border-radius: 4px;
      /* background-color: #888888; */
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      margin: 1%;
      padding: 1%;
      display: flex;
      justify-content: center;
      background-color: white;
      border: 1px thick black ;
 
  }
  .nav-inner:hover
  {
      transform: scale(1.01);
      border:2px solid #888888;
  }
  #nav-outer
  {
      display: flex;
      margin: auto;
      padding: 1%;
      align-items: center;
      justify-content: center;
      border: 1px thick #88888863;
      height: 100px;
      background-color: rgb(230, 230, 230);
      border: 2px solid #88888880;
      border-radius: 10px;
      overflow: hidden;
  }
  a,a:hover,a:focus, a:visited{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
  }

  .nia-features,.choose-inner
  {
    font-size: 18px;
    font-family: serif;
    overflow-x: hidden;
    list-style: square outside none;
    display: block;
    width: 90%;
    justify-content: center;
    margin: .5% auto;
    padding: .5%;
    break-inside: avoid-page;
    border: 1px solid #a5a4a4;
    border-radius: 10px;
    background-color: white;
    
  }
  .nia-features:hover,.choose-inner:hover
  {
      transform: scale(1.01);
      background-color: rgba(255, 255, 255, 0.774);
  }
ol{
    background-color: white;
    page-break-after: auto;
    padding: 1%;
    border-radius: 10px;
    border-bottom: 2px solid #888888;
}
body
{
    background-color: rgb(240, 240, 240);
} 
